body{
	background-color: rgb(244, 245, 247);
}

#top_title{
	background-color: white;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 115px;
	font-size: 25px;
	color: #b92b27;
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
	border-top: 2px solid #b92b27;
}
#goto{
	display: inline-block;
	margin-left: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#nav_links{
	display: inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.card_heading{
	text-align: center;
	color: rgb(56, 57, 58);
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
}

.CARD{
	border-style: outset;
	background-color: white;
	border-width: 2px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 300px;
	margin-right: 300px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.card_content{
	text-align: center;
}

a:link {
    color: (0,0,0); 
    text-decoration: none;
}

a:visited {
    color: rgb(150,0,0);
    text-decoration: none;
}

a:hover {
    color: rgb(0,0,150);
    text-decoration: none;
}

a:active {
    color: rgb(0,100,0);
    text-decoration: none;
}
.news_link{
	margin-top: 10px;
	margin-bottom: 10px;
}

.goto{
	display: inline-block;
}
.inpage-links{
	display: inline-block;
}
#card2_subheading{
	text-align: center;
	color: rgb(255, 153, 51);
}
#card2_para{
	font-size: 18px;
	line-height: 1.3;
	margin: 13px;
}
#card3_image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#card3_subheading{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(216, 82, 82);
}

table{
    border-collapse: collapse;
    margin : 0px auto;
    width: 90%;
    margin-bottom: 20px;
}
th{
	text-align: center;
	height:30px;
	padding: 9px;
}

tr{
	
	text-align: center;
	height:20px;
}

td{
	text-align: center;
	height:20px;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
iframe{
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
}